<!DOCTYPE html>
<html lang="en-us" style="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/images/PD Logo.png">
    <title>Protected Dust</title>
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|EB+Garamond|PT+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="app.js"></script>
  </head>
  <header>
    {{!-- <h1>  Protected Dusk</h1> --}}
    <nav class="navbar navbar navbar-static-top">
      <div class="container-fluid">
        <!-- navbar colapse -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/public" id="brandTitle">Protected Dusk</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li><a href="/">News</a></li>
            <li class="disabled"><a href="/mostcommented">Most Commented</a></li>
            <li class="disabled"><a href="/podcasts">Podcasts</a></li>
            <li class="disabled"><a href="/saved" >Saved</a></li>
            <li><a href="/profile" >Profile</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <body>
    {{{ body }}}
  </body>
</html>
