
body {
  background-image: url('/assets/images/maxresdefault2.jpg');
  background-size: cover;
  /*background-color: #D2EEFF;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*header {
  background-color: #9499CC;
  padding-top: 2px;
  width: 100%;
}*/
/*#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}*/
main {
  padding-top: 3%;
}
#brandTitle {
  font-family: 'Aguafina Script', serif;
  color: #21244C;
  letter-spacing: 7px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 28px;
  width: auto;
}
nav {
  background-color: #9499CC;
  font-family: 'EB Garamond', serif;
}
.navbar-nav {
  color: #21244C;
}
.icon-bar {
  color: #21244C;
}


/*article elements*/
.media {
  border: 1px solid #21244C;
  border-radius: 5px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  padding-left:1%;
}
#articles {
  display: inline-block;
  overflow: auto;
}
.media-object {
  height: 64px;
  width: 64px;
  border-radius: 5px;
}
p {
  font-family: 'EB Garamond', serif;
  font-size: 17px;
}
a {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}
.btn-info {
  background-color: #99B3E3;
}
.btn-info:hover {
  background-color: #5A65D4;
}
.btn-warning {
  background-color: #21244C;
}
.btn-warning:hover {
  background-color: #6F7399;
}
/*form for new note submission*/
#noteForm {
  margin-bottom: 2%;
}
label {
  font-family: 'EB Garamond', serif;
  font-size: 17px;
}
#noteBody {
  font-family: 'EB Garamond', serif;
}
textarea {
  display: block;
  background-color: #FCF5C7;
}

/*container and previous notes*/
#submitNote {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.noteMedia {
  border-bottom: 1px solid #21244C;
  border-radius: 8px;
}
.noteText {
  padding-left: 2%;
}
.btn-danger {
  background-color: #37394C;
}

/*textarea {
  height: 200px;
  font-size: 18px;
}
*/

.homeMedia {
  background-color: rgba(204, 192, 148, .3);
}

/*///// Profile Page //////*/
#topJumbotrons {
  display: flex;
}
.jcont {
  padding-left: 0%;
  padding-right: 0%;
  bottom: 0;
  margin-bottom: 0;
  align-items: stretch;
}
.jumbotron {
  padding: 1%, 1%;
  border-radius: 5px;
  border: 1px solid #21244C;
  margin: 0%;
  height: 100%;
}
.jumbotron p {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
}
#articleContainer{
  padding-top: 1%;
}

/*////// Login Page ///////*/
#helperText{
  text-align: center;
}
