
body {
  background-image: url('/assets/images/maxresdefault2.jpg');
  background-size: cover;
  /*background-color: #D2EEFF;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  background-color: #9499CC;
  padding-top: 2px;
  width: 100%;
}
/*#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}*/
h1 {
  font-family: 'Aguafina Script', cursive;
  color: #43697F;
  letter-spacing: 7px;
  margin-left: 5%;
}
p {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 17px;
}
a {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

#articles {
  display: inline-block;
  overflow: auto;
  border: 1px solid black;
}
.media-object {
  height: 64px;
  width: 64px;
}
#notes {
  border: 1px solid green;
}
textarea {
  display: block;
  background-color: #FCF5C7;
}

/*textarea {
  height: 200px;
  font-size: 18px;
}
*/
