
body {
  background-image: url('/assets/images/maxresdefault2.jpg');
  background-size: cover;
  /*background-color: #D2EEFF;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  background-color: #9499CC;
  padding-top: 2px;
  width: 100%;
}
/*#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}*/
main {
  padding-top: 3%;
}
h1 {
  font-family: 'Aguafina Script', cursive;
  color: #21244C;
  letter-spacing: 7px;
  margin-left: 5%;
}

/*article elements*/
.media {
  border: 1px solid #21244C;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
}
#articles {
  display: inline-block;
  overflow: auto;
}
.media-object {
  height: 64px;
  width: 64px;
}
p {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 17px;
}
a {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}
.btn-info {
  background-color: #99B3E3;
}
.btn-info:hover {
  background-color: #5A65D4;
}
/*form for new note submission*/
#noteForm {
  border: 1px white solid;
  margin-bottom: 2%;
}
label {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 17px;
}
#noteBody {

}
textarea {
  display: block;
  background-color: #FCF5C7;
}

/*container and previous notes*/
#submitNote {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.note {

}
.noteText {

}
.btn-danger {
  background-color: #37394C;
}
hr {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 17px;
}

/*textarea {
  height: 200px;
  font-size: 18px;
}
*/
